@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* custom scroll Bar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: #f9004d;
}

::-webkit-scrollbar-track{
    border-radius: 30px;
    background: #2E2C2C;
}
:root{
    --main-color:#fe5b3d;
    --second-color:#ffac38;
    --text-color:#444;
    --gradient:linear-gradient(#fe5b3d,#ffac38);
}
.collapse a {
    font-size: 18px;
    color: #0047FF;
    cursor: pointer;
}

.collapse a:hover {
    color: #f9004d;
    transition: .4s;
}
.navbar{
    display: flex;
}
header{
    background-color: #eeeff1;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif
}
.row{
    background-color: #ffffff;
}
.single_product {
    padding-top: 66px;
    padding-bottom: 140px;
    background:url(https://media.istockphoto.com/id/1299881277/photo/closeup-hand-giving-a-car-key-and-money-for-loan-credit-financial-lease-and-rental-concept.jpg?b=1&s=170667a&w=0&k=20&c=RAu2763X2HkbMIXO0YTdcqaXPamN6XJqXVRo-DZTLjQ=);
    margin-top: 0px;
    padding: 17px
}

.product_image_side {
    background-color: #fff
}

.product_description {
    padding: 15px
}

.product_name {
    font-size: 22px
}

input {
    display: none
}

.button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer
}

.button span {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s
}

.button span:hover {
    padding: 10px
}

.red .button span {
    background: red
}

.silver .button span {
    background: silver
}

.grey .button span {
    background: grey
}

.blue .button span {
    background: blue
}

.layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: -1
}

#bar {
    width: 30%;
    background-color: black;
    margin: auto
}

#progress {
    width: 1%;
    height: 30px;
    background-color: #fcec03;
    line-height: 30px;
    text-align: center
}
@media screen and (max-width: 1024px){
    .img-car{
        display: none;
    }
}