/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2em;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}
:root{
    --main-color:#fe5b3d;
    --second-color:#ffac38;
    --text-color:#444;
    --gradient:linear-gradient(#fe5b3d,#ffac38);
}
/* custom scroll Bar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: #f9004d;
}

::-webkit-scrollbar-track{
    border-radius: 30px;
    background: #2E2C2C;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}

.logo img{
    width: 40px;
}
.navbar{
    display: flex;
}

.navbar li{
    position: relative;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom:-4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after{
    width: 100%;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.header-btn .sign-in{
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}

.header-btn .sign-up{
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}

.header-btn .sign-in:hover{
    background: var(--main-color);
}

.header-btn .sign-up:hover{
    background: var(--main-color);
}
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url(../img/Background-home.png);
    background-repeat: no-repeat;
    background-position:center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.content{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.content h1{
    color: black;
    font-size: 50px;
    margin: 20px 0px 20px;
}

.content h3{
    color: #000000;
    font-size: 35px;
    padding-bottom: 30px;
}

.content h4{
    color: #f9004d;
    font-size: 38px;
    letter-spacing: 1px;
}

.inputMail{
    width: 380px;
    position: absolute;
    max-width: 100%;
}

.inputMail form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.inputMail form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    text-transform: uppercase;
}

.heading h1{
    font-size: 2rem;
}
.ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.ride-container .box{
    text-align: center;
    padding: 20px;
}

.ride-container .box .bx{
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
}

.ride-container .b0x h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}

.ride-container .box .bx:hover,
.ride-container .b0x .bxs-calendar-check{
    background: var(--gradient);
    color: #fff;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
}

.services-container .box .box-img{
    width: 100%;
    height: 200px;
}

.services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.services-container .box p{
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}

.services-container .box h3{
    font-weight: 500;

}

.services-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.services-container .box .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}

.services-container .box .btn:hover{
    background: var(--main-color);
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.about-img img{
    width: 100%;
}

.about-text span{
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}

.about-text p{
    margin: 0.5rem 0 1.4rem;
}
.about-text .btn:hover{
    background: var(--main-color);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.imgcontainer img{
    width: 300px;
    height: 300px;
    border: 5px solid #555;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}